header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
}

.logo {
  margin-bottom: 1rem;
}

* {
  /* border: 1px solid red; */
}

.logo img {
  width: 3.8rem;
  height: 3.8rem;
}

.first-header-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 100%;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 80%;
  max-width: 26rem;
  padding: .5rem;
  border: 1px solid #E5E7EB;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

.hamburger-icon {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  /* position: absolute; */
  /* top: 15px; */
  /* right: 15px; */
  /* z-index: 10; */
  display: none; /* Hide on larger screens */
}

.nav {
  width: 100%;
  display: none; /* Hide menu by default */
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
}

.nav.open {
  display: flex; /* Show menu when open */
  transform: translateY(0);
}

.nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  font-weight: 500;
  font-size: .9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-main {
  border-radius: 2px;
  background: #F95192;
  color: white;
  border: 1px solid #F95192;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 0.25rem;
}

.header-btn {
  margin-top: .2rem;
}

.mode-switcher a {
  color: #F95192;
  font-weight: bold!important;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .first-header-part {
    flex-direction: row;
    gap: 2rem;
  }

  .search-bar {
    width: auto;
  }

  .search-input {
    width: 26rem;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: none;
    width:45%;

  }

  .nav ul {
    flex-direction: row;
    gap: 3rem;
    margin-top: 0;
  }

  .hamburger-icon {
    display: none; /* Hide on larger screens */
  }
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .hamburger-icon {
    display: block; /* Show hamburger icon on smaller screens */
  }
  .header-side{
    padding-right: 16% !important;  
  }
  .search-bar{
    display: none;
  }
  .nav {
    display: none; /* Hide menu by default on smaller screens */
  }

  .nav.open {
    display: flex; /* Show menu when open */
  }
}
